---
import jsonProjects from "../config/projects.json"
---


{
    jsonProjects.map((project) => (
        <a class="w-full" target="_blank" href={project.gitLink}>
            <div class="text-default  bg-white border-t border-gray-800 rounded-t-xl shadow dark:bg-gray-800/20 dark:border-gray-700 my-5">
                <div class="relative h-[190px] rounded-t-lg flex justify-center items-center overflow-hidden">
                    {/* Fondo difuminado */}
                    <div class="absolute inset-0 w-full h-[200px] bg-cover bg-center" style={`background-image: url(${project.bgImg});`}></div>
                    
                    {/* Contenido no difuminado */}
                    {/* <h1 class="relative font-bold text-4xl text-white z-10 uppercase px-5 bg-black/50 rounded-xl">{project.projectName}</h1> */}
                </div>
                <div class="px-5 pb-5 mt-5 text-white flex flex-col items-center">
                    <h5 class="font-medium text-2xl">{project.projectName}</h5>
                    <p class="text-center mt-2 mb-3 font-light">{project.content}</p>
                    <div class="flex flex-wrap max-w-3xl gap-3 justify-center text-skills">
                        {
                            project.skills.map((skill) => (
                                <div class="flex bg-slate-800/30 px-6 py-1 rounded-lg gap-2 items-center">
                                    <img src={skill.svg} alt={skill.name} class="h-5 w-5" />
                                    <p>{skill.name}</p>
                                </div>
                            ))
                        }
                    </div>
                </div>
            </div>
        </a>
    ))
}
  

<style>
    .text-default {
        font-family: 'Grandstander Variable', system-ui;
    }

    .text-skills{
        font-family: "Geist Mono", monospace;
    }
</style>
